__pycache__/
*.py[cod]
*$py.class
dist/
build/
*.spec
installer_output/
extracted_images/
gesammelter_text.txt
*.log
*.tmp
tessdata/
tesseract_path.txt
*.exe
*.msi
*.zip
*.rar
.idea/
.vscode/
.gemini/
